.body{
    flex: 0.8;
    color: white;
    padding :30px;
    background: linear-gradient(rgb(97,87,115), rgb(0,0,0,1));
    overflow-y: overlay;
}

.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body_info > img{
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}
.body_infoText{
    flex: 1;
}
.body_info > h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.icons{
    margin: 10px;
}
.body_songs{
    margin: 20px -30px;
}
.shuffle{
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.body_icons{
    display: flex;
    align-items: center;
}
.st{
    width: 25px;
    height: 30px;
}

.body_info > p{
    font-size: 14px;
}
